{extend name='main'}

{block name="content"}
<div class="think-box-shadow">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">原房间信息</li>
            <li>调换新房间</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-card-body padding-left-40">
                    <div class="layui-row layui-col-space15">
                        <h4 class="font-w8 font-s16 color-blue">基本信息</h4>
                    </div>
                    <div class="layui-form-item layui-row layui-col-space15">
                        <label class="layui-col-xs3">
                            <span class="color-green">订单状态</span>
                            <input name="status"
                                   value='{switch $vo->status}
                                   {case 0}已取消{/case}
                                   {case 10}已预定{/case}
                                   {case 20}已入住{/case}
                                   {case 30}已退房{/case}
                                   {default /}未知
                                   {/switch}'
                                   readonly class="layui-input">
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">校区</span>
                            <input type="text" name="campus" value="{$vo->campus|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">房间规格</span>
                            <input type="text" name="room_type" value="{$vo->room_type|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">房间</span>
                            <input type="text" name="room_name" value="{$vo->room_name|default=''}" readonly class="layui-input" />
                        </label>
                    </div>
                    <div class="layui-form-item layui-row layui-col-space15">
                        <label class="layui-col-xs3">
                            <span class="color-green">学生姓名</span>
                            <input type="text" name="stu_name" value="{$vo->stu_name|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">联系方式</span>
                            <input type="text" name="stu_phone" value="{$vo->stu_phone|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">身份证号</span>
                            <input type="text" name="stu_id_num" value="{$vo->stu_id_num|default=''}" readonly class="layui-input" />
                        </label>
                    </div>

                    <div class="layui-row layui-col-space15">
                        <h4 class="font-w8 font-s16 color-blue">订单信息</h4>
                    </div>
                    <div class="layui-form-item layui-row layui-col-space15">
                        <label class="layui-col-xs3">
                            <span class="color-green">租期</span>
                            <input type="text" name="lease_term" value="{$vo->lease_term|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">入住时间</span>
                            <input type="text" name="_book_in_time" value="{$vo->book_in_time|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">离店时间</span>
                            <input type="text" name="_departure_time" value="{$vo->departure_time|default=''}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">订单创建时间</span>
                            <input type="text" name="add_time" value="{$vo->add_time|default=''}" readonly class="layui-input" />
                        </label>
                    </div>
                    <!--已预定-->
                    {if $vo->status == 10}
                    <div class="layui-form-item layui-row layui-col-space15">
                        <label class="layui-col-xs3">
                            <span class="color-green">学费总金额（¥）</span>
                            <input type="number" name="front_money" value="{$vo->total_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">定金（¥）</span>
                            <input type="number" name="total_money" value="{$vo->front_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">应交尾款（¥）</span>
                            <input type="number" name="rest_money" value="{$vo->rest_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                    </div>
                    <!--已入住-->
                    {elseif $vo->status == 20}
                    <div class="layui-form-item layui-row layui-col-space15">
                        <label class="layui-col-xs3">
                            <span class="color-green">学费总金额（¥）</span>
                            <input type="number" name="front_money" value="{$vo->total_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">定金（¥）</span>
                            <input type="number" name="total_money" value="{$vo->front_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">应交尾款（¥）</span>
                            <input type="number" name="rest_money" value="{$vo->rest_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">实交尾款（¥）</span>
                            <input type="number" name="actual_rest_money" value="{$vo->actual_rest_money|default='0.00'}" readonly class="layui-input" />
                        </label>
                    </div>
                    <div class="layui-form-item layui-row layui-col-space15">
                        <label class="layui-col-xs3">
                            <span class="color-green">押金（¥）</span>
                            <input type="number" name="deposit" value="{$vo->deposit|default='0.00'}" readonly class="layui-input" />
                        </label>
                        <label class="layui-col-xs3">
                            <span class="color-green">押金状态</span>
                            <input type="text" name="deposit_status"
                                   value='{if (0 == $vo->deposit_status || empty($vo->deposit))}无押金
                                   {elseif 1 == $vo->deposit_status}押金未退
                                   {elseif 2 == $vo->deposit_status}押金已退
                                   {/if}'
                                   readonly class="layui-input" />
                        </label>
                    </div>
                    {/if}

                    <div class="layui-form-item text-center margin-top-40">
                        <button class="layui-btn layui-btn-danger" type="button" onclick="history.go(-1)">返 回</button>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
                    <div class="layui-card-body padding-left-40">
                        <div class="layui-row layui-col-space15">
                            <h4 class="font-w8 font-s16 color-blue">调换房间</h4>
                        </div>
                        {include file="orders/room_select"}
                        <div class="layui-row layui-col-space15">
                            <h4 class="font-w8 font-s16 color-blue">费用信息</h4>
                        </div>
                        <div class="layui-form-item layui-row layui-col-space15">
                            <label class="layui-col-xs3">
                                <span class="color-green">租期</span>
                                <input type="text" name="lease_term" value="{$vo->lease_term|default=''}" class="layui-input" />
                            </label>
                            <label class="layui-col-xs3">
                                <span class="color-green">入住时间</span>
                                <input type="text" name="book_in_time" value="{$vo->book_in_time|default=''}" required readonly class="layui-input" />
                            </label>
                            <label class="layui-col-xs3">
                                <span class="color-green">离店时间</span>
                                <input type="text" name="departure_time" value="{$vo->departure_time|default=''}" required readonly class="layui-input" />
                            </label>
                        </div>
                        <div class="layui-form-item layui-row layui-col-space15">
                            <label class="layui-col-xs3">
                                <span class="color-green">学费总金额（¥）</span>
                                <input type="number" name="total_money" value='' class="layui-input" required />
                            </label>
                            <label class="layui-col-xs3">
                                <span class="color-green">实付总额【含定金、押金】（¥）</span>
                                <input type="number" name="pay_money" value='{$vo->pay_money|default="0.00"}' class="layui-input" readonly />
                            </label>
                            <label class="layui-col-xs3">
                                <span class="color-green">应交(退)款（¥）</span>
                                <input type="number" name="diff_money" value='' class="layui-input" readonly />
                            </label>
                        </div>
                        {notempty name="vo->id"}<input type="hidden" name="id" value="{$vo->id}">{/notempty}
                        <div class="layui-form-item text-center">
                            <button class="layui-btn layui-btn-danger" type="button" id="cancel_edit">取消编辑</button>
                            <button class="layui-btn" type='submit' data-open="{:url('orders/index')}">保存数据</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
{include file="orders/form_js"}
<script>
    form.render();

    $('[name=total_money]').blur(function(){
        let total_money = $(this).val(),
            pay_money = $('[name=pay_money]').val();
        $('[name=diff_money]').val(total_money - pay_money);
    });
</script>
{/block}