{extend name='admin@main'}

{block name="content"}
<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" autocomplete="off" onsubmit="return false;">
    <div class="layui-card-body think-box-shadow padding-left-40">
        {include file="orders/form_common"}
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3">
                <span class="color-green">押金（¥）</span>
                <input type="number" name="deposit" value='{$vo->deposit|default=""}' class="layui-input" placeholder="请输入所交押金" />
            </label>
            <label class="layui-col-xs3">
                <span class="color-green">学费总金额（¥）</span>
                <input type="number" name="total_money" value='{$vo->total_money|default=""}' class="layui-input" required placeholder="请输入订单总金额" />
            </label>
            <label class="layui-col-xs3">
                <span class="color-green">实付总额（¥）</span>
                <input type="number" name="pay_money" value='{$vo->pay_money|default=""}' class="layui-input" required placeholder="请输入实付总额" />
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6">
                <span class="color-green">订单备注</span>
                <textarea name="comment" class="layui-textarea" placeholder="请输入订单备注">{$vo->comment|default=""}</textarea>
            </label>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn layui-btn-danger" id="cancel_edit" type="button">取消编辑</button>
            <button class="layui-btn" type='submit'>保存数据</button>
        </div>
    </div>
</form>
{/block}

{block name='script'}
{include file="orders/form_js"}
<script>
    form.render();
</script>
{/block}