<script>
    // 取消编辑
    $('body').on('click', '#cancel_edit', function(){
        $.msg.confirm('确定要取消编辑吗？', function(index){
            history.go(-1);
            layer.close(index);
        })
    });

    const date_base_config = {
        min: "{:date('Y-m-d H:i:s', time())}",
        btns: ['clear', 'confirm']
    };

    // 起始时间/截止时间 选择面板渲染
    laydate.render($.extend(date_base_config, {elem: '[name=book_in_time]'}));
    laydate.render($.extend(date_base_config, {elem: '[name=departure_time]'}));
</script>