{extend name='main'}

{block name="button"}

{if auth("import")}
<button data-href='{:url("export")}' data-title="导出订单" class='layui-btn layui-btn-sm layui-btn-primary'>导出订单</button>
{/if}

{if auth("import")}
<button data-modal='{:url("import")}' data-title="导入订单" class='layui-btn layui-btn-sm layui-btn-primary'>导入订单</button>
{/if}

{if auth("reserve")}
<button data-open='{:url("reserve")}' data-title="学生预定" class='layui-btn layui-btn-sm layui-btn-primary'>学生预定</button>
{/if}

{if auth("add")}
<!--<button data-open='{:url("add")}' data-title="同学入住" class='layui-btn layui-btn-sm layui-btn-primary'>同学入住</button>-->
<button data-title="同学入住" class='layui-btn layui-btn-sm layui-btn-primary order_add'>同学入住</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    <fieldset>
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">所属校区</label>
                <div class="layui-input-inline">
                    <select name="campus">
                        <option value="">全部</option>
                        {foreach $campus as $val}
                        <option value="{$val->id}" {if $Think.get.campus == $val->id}selected{/if}>{$val->name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">房间规格</label>
                <div class="layui-input-inline">
                    <select name="room_type">
                        <option value="">全部</option>
                        {foreach $beds_config as $val}
                        <option value="{$val['num']}" {if ($Think.get.room_type == $val['num'])}selected{/if}>{$val['text']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">房间名称</label>
                <div class="layui-input-inline">
                    <input name="room_name" value="{$Think.get.room_name|default=''}" placeholder="请输入房间名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">学生姓名</label>
                <div class="layui-input-inline">
                    <input name="stu_name" value="{$Think.get.stu_name|default=''}" placeholder="请输入学生姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">业务员</label>
                <div class="layui-input-inline">
                    <input name="salesman" value="{$Think.get.salesman|default=''}" placeholder="请输入业务员姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">订单状态</label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="">全部</option>
                            <option value="0" {$Think.get.status === '0' ? 'selected' : ''}>已取消</option>
                            <option value="10" {$Think.get.status === '10' ? 'selected' : ''}>已预订</option>
                            <option value="20" {$Think.get.status === '20' ? 'selected' : ''}>已入住</option>
                            <option value="30" {$Think.get.status === '30' ? 'selected' : ''}>已退房</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
    </fieldset>
    {empty name='list'}
    <blockquote class="layui-elem-quote">没 有 记 录 哦！</blockquote>
    {else}
    <table class="layui-table margin-top-10" lay-skin="line">
        <thead>
        <tr>
            <th class='text-center nowrap'>校区 / 规格 / 房间【床号】</th>
            <th class="text-center nowrap">姓名</th>
            <th class="text-center nowrap">联系方式</th>
            <th class="text-center nowrap">性别</th>
            <th class="text-center nowrap">租期</th>
            <th class="text-center nowrap">入住时间 ~ 到期时间</th>
            <th class="text-center nowrap">定金</th>
            <th class="text-center nowrap">押金</th>
            <th class="text-center nowrap">学费总金额</th>
            <th class="text-center nowrap">订单状态</th>
            <th class="text-center nowrap">订单创建时间</th>
            <th class="text-center nowrap">业务员</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center'>
                {$vo.campus} / {$vo.room_type} / {if $vo.room_name == '' || $vo.room_name == '未安排'}<span class="color-red">未安排</span>
                {else /}{$vo.room_name}【{if $vo.bed_num == 0}<span class="color-red">未安排</span>{else /}{$vo.bed_num}号床{/if}】
                {/if}</td>
            <td class='text-center'>{$vo.stu_name}</td>
            <td class='text-center'>{$vo.stu_phone}</td>
            <td class='text-center'>{$vo.sex == 1 ? '女' : '男'}</td>
            <td class='text-center'>{$vo.lease_term}</td>
            <td class='text-center'>{$vo.book_in_time}<div> ~ </div>{$vo.departure_time}</td>
            <td class='text-center'>{$vo.front_money ?: '--'}</td>
            <td class='text-center'>{$vo.deposit ?: '--'}</td>
            <td class='text-center'>{$vo.total_money}</td>
            <td class='text-center nowrap'>
                {switch $vo.status}
                {case 0}已取消{/case}
                {case 10}已预订{/case}
                {case 20}已入住{/case}
                {case 30}已退房{/case}
                {case 40}已换房{/case}
                {default /}未知
                {/switch}
            </td>
            <td class='text-center'>{$vo.add_time}</td>
            <td class='text-center'>{$vo.salesman}</td>
            <td class='text-left nowrap'>
                {if auth("apartment/orders/view")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs layui-btn-primary" data-open='{:url("apartment/orders/view")}?id={$vo.id}'>查 看</a>
                {/if}
                {if $vo.status == 10 && auth("apartment/orders/handleReserve")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs layui-btn-normal" data-modal='{:url("apartment/orders/handleReserve")}?id={$vo.id}'>处理预定</a>
                {/if}
                {if ($vo.status == 10 || $vo.status == 20) && !empty($vo.room_id) && auth("apartment/orders/change")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-xs" data-open='{:url("apartment/orders/change")}?id={$vo.id}'>调换房间</a>
                {/if}
                {if $vo.status == 20 && !empty($vo.room_id) && auth("apartment/orders/checkout")}
                    {if empty($vo.bed_num) && auth("apartment/orders/arrangeBed")}
                    <span class="text-explode">|</span>
                    <a class="layui-btn layui-btn-xs layui-btn-normal" data-modal='{:url("apartment/orders/arrangeBed")}?id={$vo.id}'>安排床位</a>
                    {else /}
                    <span class="text-explode">|</span>
                    <a class="layui-btn layui-btn-xs layui-btn-warm" data-modal='{:url("apartment/orders/checkout")}?id={$vo.id}'>退 房</a>
                    {/if}
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {/empty}

    {notempty name='list'}{$pagehtml|raw|default=''}{/notempty}
</div>

<div class="layui-hide">
    <div class="layui-form" id="add_confirm" lay-filter="add_confirm">
        <div class="layui-form-item">
            <label class="layui-form-label">是否预定</label>
            <div class="layui-input-block">
                <input type="radio" name="is_reserved" lay-filter="is_reserved" value="1" title="已预订" checked />
                <input type="radio" name="is_reserved" lay-filter="is_reserved" value="0" title="未预订" />
            </div>
        </div>
        <div class="layui-form-item" id="query_name_cnt">
            <div class="layui-input-block">
                <div class="layui-inline"><input class="layui-input" name="query_name" placeholder="请输入学生姓名" /></div>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="query_name_btn">查询</button>
            </div>
            <div class="layui-input-block" id="students_list">

            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script>
    form.render();

    $('.order_add').click(function(data){
        let index = layer.open({
            title: '学生入住',
            area: ['600px', '480px'],
            content: $('#add_confirm').prop("outerHTML"),
            btn: ['确定', '取消'],
            yes: function(){
                let is_reserved = $('[name=is_reserved]:checked').val();
                if(is_reserved == 0){
                    $.form.href("{:url('add')}");
                }else if(is_reserved == 1){
                    let id = $('[name=add_stu_oid]:checked').val()
                    $.form.modal("{:url('handleReserve')}?id="+id);
                }
                layer.close(index);
            }
        });
        form.render(null, 'add_confirm');
    });

    form.on('radio(is_reserved)', function(data){
        if(data.value == 0){
            $('.layui-layer #query_name_cnt').addClass('layui-hide');
        }else{
            $('.layui-layer #query_name_cnt').removeClass('layui-hide');
        }
    });

    $('body').on('click', '.layui-layer #query_name_btn', function(){
        let name = $.trim($(this).siblings('div').find('[name=query_name]').val());
        let load_index = $.msg.loading();
        $.post("{:url('queryStudentsByName')}", {name: name}, function(data){
            let html = '';
            for(let i in data){
                let stu = data[i];
                html += '<div><input type="radio" name="add_stu_oid" value="'+ stu['id'] +'" title="'+ stu['stu_name'] + ' - ' + stu['stu_phone'] +'" /></div>';
            }
            $('.layui-layer #students_list').html(html);
            form.render('radio', 'add_confirm');
            layer.close(load_index);
        });
    });

    form.on('select(add_select)', function(data){
        console.log(data)
    });
</script>
{/block}
