{extend name='main'}

{block name="button"}

{if auth("add")}
<button data-open='{:url("add")}' data-title="添加房间" class='layui-btn layui-btn-sm layui-btn-primary'>添加房间</button>
{/if}

{if auth("remove")}
<button data-action='{:url("remove")}' data-csrf="{:systoken('remove')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除房间</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    <fieldset>
        <legend>条件搜索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">所属校区</label>
                <div class="layui-input-inline">
                    <select name="campus">
                        <option value="">全部</option>
                        {foreach $campus as $val}
                        <option value="{$val->id}" {if $Think.get.campus == $val->id}selected{/if}>{$val->name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">房间规格</label>
                <div class="layui-input-inline">
                    <select name="type">
                        <option value="">全部</option>
                        {foreach $beds_config as $val}
                        <option value="{$val['num']}" {if ($Think.get.type == $val['num'])}selected{/if}>{$val['text']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">房间名称</label>
                <div class="layui-input-inline">
                    <input name="name" value="{$Think.get.name|default=''}" placeholder="请输入房间名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            </div>
        </form>
    </fieldset>
    {empty name='list'}
    <blockquote class="layui-elem-quote">没 有 记 录 哦！</blockquote>
    {else}
    <table class="layui-table margin-top-10" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-center nowrap'>房间名称</th>
            <th class='text-center nowrap'>所属校区</th>
            <th class="text-center nowrap">房间规格</th>
            <th class='text-center nowrap'>床位价格（¥）</th>
            <th class='text-center nowrap'>床位总数</th>
            <th class='text-center nowrap'>剩余床位</th>
            <th class='text-center nowrap'>入住人数</th>
            <th class='text-center nowrap'>预定未住</th>
            <th class="text-center nowrap">添加者</th>
            <th class="text-center nowrap">状态</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-center'>{$vo['name']}</td>
            <td class="text-center nowrap">{$campus[$vo['campus']]['name']}</td>
            <td class='text-center nowrap'>{$beds_config[$vo['bed_total']]['text']}</td>
            <td class="text-center nowrap">{$vo['price']}</td>
            <td class="text-center nowrap">{$vo['bed_total']}</td>
            <td class="text-center nowrap">{$vo['bed_total']}</td>
            <td class="text-center nowrap">
                {if $vo['book_in'] == 0}0
                {else /}<a class="layui-inline full-width full-height color-blue" style="text-decoration: underline;"
                           title="点击查看入住学生列表" data-open="{:url('viewStuList')}?id={$vo['id']}&status=20">{$vo['book_in']}</a>
                {/if}
            </td>
            <td class="text-center nowrap">
                {if $vo['reserved'] == 0}0
                {else /}<a class="layui-inline full-width full-height color-blue" style="text-decoration: underline;"
                           title="点击查看预定学生列表" data-open="{:url('viewStuList')}?id={$vo['id']}&status=10">{$vo['reserved']}</a>
                {/if}
            </td>
            <td class='text-center nowrap'>{$vo['roomAdder']['username']}</td>
            <td class='text-center nowrap'>
                {if($vo['status'] == 1)}
                <span style="color:#5FB878">正常</span>
                {else /}
                <span style="color:#FF5722">禁用</span>
                {/if}</td>
            <td class='text-left nowrap'>
                {if auth("admin/rooms/view")}
                <a class="layui-btn layui-btn-xs layui-btn-normal" data-open='{:url("admin/rooms/view")}?id={$vo.id}'>查看</a>
                {/if}

                {if auth("admin/root/edit")}
                <a class="layui-btn layui-btn-xs" data-open='{:url("admin/rooms/edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if $vo.status eq 0 and auth("admin/rooms/resume")}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('admin/rooms/resume')}">启 用</a>
                {/if}

                {if ($vo['book_in'] + $vo['reserved']) == 0}
                    {if $vo.status eq 1 and auth("admin/rooms/forbid")}
                    <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('admin/rooms/forbid')}">禁 用</a>
                    {/if}
                    {if auth("admin/rooms/remove")}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('admin/rooms/remove')}">删 除</a>
                    {/if}
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {/empty}

    {notempty name='list'}{$pagehtml|raw|default=''}{/notempty}
</div>
{/block}

{block name="script"}
<script>
    form.render();
</script>
{/block}
