<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">名称</span>
                <input type="text" name="name" value='{$vo->name|default=""}'  required placeholder="请输入床位名称" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">大小</span>
                <input type="text" name="size" value='{$vo->size|default=""}'  required placeholder="请输入床位大小" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">价格</span>
                <input type="number" name="price" value='{$vo->price|default=""}' required placeholder="请输入床位价格" class="layui-input">
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <input type='hidden' value='{$room_id}' name='room_id' />
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>

{block name='script'}
<script>
    form.render();

    form.on('submit(*)', function(){
        return false;
    });
</script>
{/block}