{extend name='main'}

{block name="button"}

{if (auth("patchadd") && count($list) < $room->bed_total)}
<button data-open='{:url("patchadd")}?room_id={$room->id}' data-title="批量添加房间" class='layui-btn layui-btn-sm layui-btn-primary'>批量添加床位</button>
{/if}

{if auth("add")}
<button data-modal='{:url("add")}?room_id={$room->id}' data-title="添加房间" class='layui-btn layui-btn-sm layui-btn-primary'>添加床位</button>
{/if}

{if auth("remove")}
<button data-action='{:url("remove")}' data-csrf="{:systoken('remove')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除床位</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    <div class="layer-row layui-col-md12">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:auto;">房间名称：{$room->name}</label>
            <label class="layui-form-label" style="width:auto;">房间规格：{$bed_total_name}</label>
        </div>
    </div>
    {empty name='list'}
    <blockquote class="layui-elem-quote">没 有 记 录 哦！</blockquote>
    {else}
    <table class="layui-table margin-top-10" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap'>名称</th>
            <th class='text-left nowrap'>大小</th>
            <th class="text-center nowrap">价格</th>
            <th class="text-center nowrap">修改人</th>
            <th class="text-center nowrap">状态</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left'>{$vo->name}</td>
            <td class='text-left'>{$vo->size}</td>
            <td class='text-left'>{$vo->price}</td>
            <td class='text-center nowrap'>{$vo->bedAdder->username}</td>
            <td class='text-center nowrap'>
                {if($vo->status == 1)}
                <span style="color:#5FB878">正常</span>
                {else /}
                <span style="color:#FF5722">禁用</span>
                {/if}
            </td>
            <td class='text-center nowrap'>
                {if auth("admin/beds/edit")}
                <span class="text-explode">|</span>
                <a class="layui-btn layui-btn-sm" data-title="编辑床位" data-modal='{:url("admin/beds/edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if $vo.status eq 1 and auth("admin/beds/forbid")}
                <a class="layui-btn layui-btn-warm layui-btn-sm" data-confirm="确定要禁用吗?" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('admin/beds/forbid')}">禁 用</a>
                {elseif $vo.status eq 0 and auth("admin/beds/resume")}
                <a class="layui-btn layui-btn-warm layui-btn-sm" data-confirm="确定要启用吗?" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('admin/beds/resume')}">启 用</a>
                {/if}
                {if auth("admin/beds/remove")}
                <a class="layui-btn layui-btn-danger layui-btn-sm" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('admin/beds/remove')}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {/empty}
</div>
{/block}
