<div class="layui-card-body think-box-shadow">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs2 relative">
                <span class="color-green">统一大小</span>
                <input name="patch_size" class="layui-input">
            </label>
            <label class="layui-col-xs2 relative">
                <span class="color-green">统一价格</span>
                <input name="patch_price" class="layui-input">
            </label>
            <label class="layui-col-xs2 relative">
                <span class="color-green">剩余可添加</span>
                <input name="patch_max" value='{$add_max}' class="layui-input">
            </label>
            <label class="layui-col-xs2">
                <button class="layui-btn layui-btn-sm layui-btn-normal" id="create_temp" style="margin-top:27px;">生成模版</button>
            </label>
        </div>
    </div>
</div>

<form class="layui-form layui-card" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body think-box-shadow">
        <div class="layui-card-body padding-left-40">
            <table class="layui-table add_table text-center"></table>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" lay-submit lay-filter="*">保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' id="cancel_edit">取消编辑</button>
        </div>
    </div>
</form>

{block name='script'}
<script>
    form.render();

    form.on('submit(*)', function(){
        let beds = []
        $('.add_table').find('tbody tr').each(function(i, n){
            let name = $(n).find('[name=name]').val(),
                size = $(n).find('[name=size]').val(),
                price = $(n).find('[name=price]').val();
            beds.push({name, size, price})
        });
        if(beds.length == 0){
            $.msg.error('请生成模版并填写数据后再提交！')
            return false;
        }
        $.ajax({
            url: "{:request()->url()}",
            type: "post",
            headers: {"User-Token-Csrf": $("input[name=_token_]").val()},
            dataType: "json",
            data: {room_id: "{$room_id}", beds: beds},
            success: function(res){

            }, error(err){
                $.msg.error('添加失败，请重试！')
            }
        });
        return false;
    });

    $('#create_temp').click(function(){
        let size = $('[name=patch_size]').val(),
            price = $('[name=patch_price]').val(),
            max = $('[name=patch_max]').val(),
            html = `<thead><tr><td>序号</td><td>名称</td><td>大小</td><td>价格</td></tr></thead><tbody>`;
        if(max <= 0){
            $.msg.error('模版数量必须大于0');
            return false;
        }
        for(let i = 1; i <= max; i++){
            html += `<tr>
                <td>`+ i +`</td>
                <td><input type="text" name="name"  lay-verify="required" placeholder="请输入床位名称" class="layui-input" value="`+ i +`号床" /></td>
                <td><input type="text" name="size"  lay-verify="required" placeholder="请输入床位大小" class="layui-input" value="`+ size +`" ></td>
                <td><input type="text" name="price" lay-verify="required" placeholder="请输入床位价格" class="layui-input" value="`+ price+`" ></td>
            </tr>`;
        }
        html += `</tbody>`;
        $('.add_table').html(html);
    });

    // 取消编辑
    $('#cancel_edit').click(function(){
        $.msg.confirm('确定要取消编辑吗？', function(index){
            history.go(-1);
            layer.close(index);
        })
    });
</script>
{/block}